@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="~/css/index_style.css" rel="stylesheet" />

<div class="container">
    <h1>ad<b>carry</b></h1>
    <div>
        <a href="playstyle" class="item" id="playstyle"> 
            <img src="~/lib/img/champions.svg"/>
            <p>playstyle</p> 
        </a>
        <a href="items" class="item" id="items"> 
            <img src="~/lib/img/items.svg"/>
            <p>items</p> 
        </a>
    </div>
</div>
