@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h1>ad<b>carry</b></h1>
    <div>
        <div class="item"> 
            <img src="~/lib/img/champions.svg"/>
            <p>champions</p> 
        </div>
        <div class="item"> 
            <img src="~/lib/img/items.svg"/>
            <p>items</p> 
        </div>
    </div>
</div>
