@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h1>ad<b>carry</b></h1>
    <div>
        <div class="item"> <p>champions</p> </div>
        <div class="item"> <p>items</p> </div>
    </div>
</div>
