@page
@model adcarry.Pages.playstyleModel
<link href="~/css/playstyle.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Playstyle";
}
<div class="container">
    <h1>playstyle</h1>
    <div>
        <a href="" class="item" id="champions"> 
            <img class="circle" src="~/lib/img/kaisa.png"/>
            <h2>Kai'Sa</h2> 
        </a>
        <a href="" class="item" id="items"> 
            <img class="circle" src="~/lib/img/jinx.png"/>
            <h2>Jinx</h2> 
        </a>
    </div>
</div>