html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
:root{
    font-family: 'Raleway', sans-serif;
    color: white;
}
h1{
    font-weight: 300;
    font-size: 4em;
}
b{
    font-weight: 700;
}
body, .container, .item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item {
    border-radius: 25px;
    margin: 2.5em;
    background-color: rgba(255,255,255,10%);
    width: 255px;
    height: 255px;
    font-size: 1.5em;
    font-weight: 500;
    box-shadow: 0 0 50px -20px black;
    transition: transform 400ms ease;
    cursor: pointer;
}
.item:hover{
    transform: scale(1.05);
}
.item img{
    margin-top: 24px;
    width: 50px;
}
body {
    background: linear-gradient(90deg, #2D2C6B, #5C3999);
}